p {
  color:red;
}

/*p:first-letter{
    background-color: #000000;
    font-size:30px;
}*/

.classverde
{
  color: green;
}

ol
{
    list-style-type: armenian;
}

li a {
  text-decoration: none;
}

div {
  background-color: green;
}

.super-parrafos{
  border-style: dotted;
}
span{
  font-weight: bold;
  color: white;
  font-style: italic;
}

.sin-italica{
    font-style: normal;
    font-size: 20px;
}

table, td, tr {
  border: 5px dotted;
}
td, tr{
  border-color: red;
}

table{
  border-color: blue;
}

tbody{
  background-color: grey;
}

thead{
  background-color: orange;
}

a:link{
  color: #FF0000;
}

a:visited{
  color: #FF0000;
}

a:hover{
  color: #FFFF00;
}
a:active{
  color: #00FF00;
}

.classverde::selection{
  background-color: #cccccc;
  color: red;
}

p:first-letter{
  color: orange;
  font-size: 30px;
}

.botonera > p {
  background-color: green;
}

#link-exactas ~ p{
  background-color: white;
}

.link-interno{
  background-color: red;
}