p{
  color:red;
}

.verde {
  color: blue;
}

body{
 background-color:white;
/*background-image:url("http://www.exa.unicen.edu.ar/es/system/files/banners/fondoseccion.jpg");*/
}

a:link{
  text-decoration: none;
}

.Bloque1{
  background-color: yellow;
  border-color: red;
  border-style: solid;
}

div{
  font-style: italic;
  color:violet;
  font-weight: bold;
}

.sincursiva{
 font-size: 20px;
 font-style: normal;
 color:violet;
}

td, tr{
  /*border-style: solid;
  border-color: black;
  background-color: violet;*/
  border: 1px solid black;
}

table{
  border-color: violet;
}

tbody{
  background-color: grey;
}

thead{
  background-color: orange;
}

th{
  border-color: black;
}
