p{
  color:red;
}

.verde {
  color: blue;
}

body{
 background-color:white;
/*background-image:url("http://www.exa.unicen.edu.ar/es/system/files/banners/fondoseccion.jpg");*/
}

a:link{
  text-decoration: none;
}

.Bloque1{
  background-color: yellow;
  border-color: red;
  border-style: solid;
}
