p{
  color: black;
  font-family: 'Arial', sans-serif;
}

.verde{
  color: green;
}

body{
  background-image: url(../img/bg.png);
  background-repeat:round;
}

ol{
  color:green;
}

ul{
  color:blue;
}

a{
  text-decoration: none;
}

div.noticia{
  background-color: orange;
  border-color: white;
  border-style:solid;
  border-width: 20px;
}

div.noticia_b{
  background-color: cyan;
  border-color: grey;
  border-style:solid;
  border-width: 20px;

}



div.tablita{
  border-width: 20px;
  border-color: transparent;
  border-style:solid;
}

.txt_negrita{
  font-weight:bold;
}

span{
  font-weight: bold;
}

table, th, td{
  border: 1px solid grey;
}

td{
  width:200px;
}

tfoot{
  color:red;
  font-weight: bold;
}

table{
  background-color: white;
  text-align: center;
}

th{
  background-color: green;
  color:white;
}

ul li{
  color: black;
  height: 60px;
}
