p{
color: red;
font-family: "Times New Roman",Times,serif;
}
.classblue{
color:blue;
}
body{
	background-color: green;
	background-image: url(13.jpg);
	/*background-repeat: repeat;*/
}
a{
 text-decoration:none;
}
ul{
	color: aqua;
}
ol{
	color: yellow;
}
div{
	background-color:pink;
	border-style: solid;
}
span{
	font-weight: bold;
	color: green;
}
thead{
	color: green;
}
tbody{
	color: blue;
}
tfoot{
	color: yellow;
}
table, th, td{
	border: 1px solid black;
}