p{
  color:black;
  }
.classverde{
  color:green;
}
body{
   background-color:red;
}
body {
background-image:url(paisaje.jpg);
background-repeat:repeat-y;
/*--background-repeat:repeat-x -- repite la imagen en el eje x*/
}
