p{
  color:black;
  }
.classverde{
  color:green;
}
body{
   background-color:green;
}
body {
background-image:url(paisaje.jpg);
background-repeat:no-repeat;
/*--background-repeat:repeat-x -- repite la imagen en el eje x*/
}
.list_pers{
  color:green;
}
.nosub{
  text-decoration:none;
}
span{
  color: green;
  font-weight: bold;
  font-style: italic;
}
.bloque1{
  background-color:red;
  color: black;
  border-style: solid;

}
.masgrande{
  color: green;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;

}
table{
  color: blue;
  font-weight: bold;
  font-style:normal;
  background-color:white;
}
thead{
  color: orange;
}
table, th , td{
  border: 1px solid black;
  text-align: center;
}
