p{
  color:violet;
}
.claseverde{
  color:green;
}
.claserojo{
  color:red;
}

body{
  background-image:url(http://k42.kn3.net/taringa/1/2/0/1/2/9/69/luksqk26/BF7.jpg?5142);
  background-repeat:repeat;
}
h1{
  text-align: center;
}

.nolinealink   
{
 text-decoration:none;
}
