p{
  color:red;
}
.classAzul{
  color:blue;
}
body {
  background-image:url(fondo-suave.jpg);
  background-repeat:repeat;
}
.italic{
  font-style: italic;
}

.large{
  font-size: xx-large;
}

.LinkSinSub{
  text-decoration: none;
}
.Tabla{
  background-color: yellow;
  border-style: solid;
}
.Remarcador{
  font-style: italic;
  font-weight: bold;
  color: black;
}
table{
  background-color: grey;
  text-align: center;
}
th{
  color : red;
  font-weight: bold;
}
td,table,th{
  border:1px solid black;
}

a:link {
   color: orange;
}
a:visited {
   color: grey;
}
a:hover {
  font-size: 30px;
  color: red;
}
p::selection{
  color: blue;
}
p::first-letter{
  color: orange;
  font-size: 30px;
}
.classAzul::selection{
  background-color: #CCCCCC;
}
