p{
  color:red;
}
.classAzul{
  color:blue;
}
body {
  background-image:url(bamboo-fondo.jpg);
  background-repeat:repeat;
}
.italic{
  font-style: italic;
}

.large{
  font-size: xx-large;
}

.LinkSinSub{
  text-decoration: none;
}
.Tabla{
  background-color: yellow;
  border-style: solid;
}
.Remarcador{
  font-style: italic;
  font-weight: bold;
  color: black;
}
